@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0e1630;
  --highlight-color: #02b080;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 100%;
}

.hover:hover {
  color: #02b080;
}

.text-with-line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 0.1rem;
}

.text-with-line::before {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--highlight-color);
}
